$black: #141414;

.header {
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;
    height: 3rem;
    // background: 
    //     linear-gradient(
    //         $black 0%,
    //         $black 90%,
    //         lighten($black, 5%) 100%
    //     );

    margin-bottom: 1rem;

    .content {
        padding: .3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";

        .left {
            grid-area: left;
            margin-right: auto;
        }

        .right {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            justify-content: flex-end;
            grid-area: right;

            h4 {
                margin-left: .2rem;
                margin-right: .2rem;
            }
        }
    }
}
