<div class="home-grid">
    <!-- Left, tall -->
    <div class="grid-item new-inserts">

        <div *ngFor="let scrobble of recentScrobbles" class="scrobble-small">
            <app-small-scrobble [scrobbleData]="scrobble"></app-small-scrobble>
        </div>

    </div>

    <!-- Center, tall, wide -->
    <div *ngIf="recentUpdate" class="grid-item feed">
        <h3>{{recentUpdate.title}}</h3>
        
        <div class="update-rendered" [innerHTML]="recentUpdate.markdown_rendered"></div>
    </div>

    <!-- Right, tall -->
    <div class="grid-item repo-updates">
        <h2>Recent Commits</h2>
    </div>
</div>