.login {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    width: 512px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8) inset;
}